@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
header {
  z-index: 1001 !important;
}

.btn-primary {
  @apply bg-secondaryOrange border-2 border-secondaryOrange text-nowrap font-Nunito text-[16px] text-neutralWhite1 p-[10px] rounded-[8px];
}