@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --scroolBarColor: #FE9F5E; 
  --scroolBarBg: #F6F6F6; 
}

* {
  padding: 0;
  margin: 0;
}

/* Definições da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroolBarColor);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroolBarBg);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
main {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #F6F6F6; /* Ajuste conforme a altura da sua Navbar */
}
header {
  z-index: 1001 !important;
}

.btn-primary {
  @apply bg-secondaryOrange border-2 border-secondaryOrange text-nowrap font-Nunito text-[16px] text-neutralWhite1 p-[10px] rounded-[8px];
}